### Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

### Load Dataset

In [2]:
path = "../Data/conducta_suicida.csv"

In [3]:
df = pd.read_csv(path)
df.head()

,_id,ano_notificacion,codigo_localidadresidencia,localidad_residencia,nombre_upz,Curso de vida,clasificaciondelaconducta,sexo,edad,niveleducativo,enfermedades_dolorosas,maltrato_sexual,muerte_familiar,conflicto_pareja,problemas_economicos,esc_educ,problemas_juridicos,problemas_laborales,suicidio_amigo,poblacion_diferencial
0,1,2016,3,Santa Fe,LAS CRUCES,12 â€“ 17 Adolescencia,IdeaciÃ³n suicida,Mujer,14,5. Secundaria incompleta,0,0,0,0,0,0,0,0,0,Otra
1,2,2012,8,Kennedy,UPZ Sin asignar,12 â€“ 17 Adolescencia,IdeaciÃ³n suicida,Hombre,13,5. Secundaria incompleta,0,0,0,0,0,0,0,0,0,Otra
2,3,2012,19,Ciudad BolÃ­var,UPZ Sin asignar,12 â€“ 17 Adolescencia,Intento de Suicidio,Mujer,13,5. Secundaria incompleta,0,0,0,0,0,0,0,0,0,Otra
3,4,2012,10,EngativÃ¡,UPZ Sin asignar,18 â€“ 28 Juventud,Intento de Suicidio,Mujer,26,8. TÃ©cnico post-secundaria completa,0,0,0,0,0,0,0,0,0,NaN
4,5,2012,10,EngativÃ¡,UPZ Sin asignar,18 â€“ 28 Juventud,Intento de Suicidio,Mujer,26,6. Secundaria completa,0,0,0,0,0,0,0,0,0,NaN

### Delete _id and esc_edu columns

In [ ]:
del df['_id']
del df['esc_educ']
df.head()

,ano_notificacion,codigo_localidadresidencia,localidad_residencia,nombre_upz,Curso de vida,clasificaciondelaconducta,sexo,edad,niveleducativo,enfermedades_dolorosas,maltrato_sexual,muerte_familiar,conflicto_pareja,problemas_economicos,problemas_juridicos,problemas_laborales,suicidio_amigo,poblacion_diferencial
0,2016,3,Santa Fe,LAS CRUCES,12 17 Adolescencia,Ideacin suicida,Mujer,14,5 Secundaria incompleta,0,0,0,0,0,0,0,0,Otra
1,2012,8,Kennedy,UPZ Sin asignar,12 17 Adolescencia,Ideacin suicida,Hombre,13,5 Secundaria incompleta,0,0,0,0,0,0,0,0,Otra
2,2012,19,Ciudad Bolvar,UPZ Sin asignar,12 17 Adolescencia,Intento de Suicidio,Mujer,13,5 Secundaria incompleta,0,0,0,0,0,0,0,0,Otra
3,2012,10,Engativ,UPZ Sin asignar,18 28 Juventud,Intento de Suicidio,Mujer,26,8 Tcnico postsecundaria completa,0,0,0,0,0,0,0,0,Ninguna
4,2012,10,Engativ,UPZ Sin asignar,18 28 Juventud,Intento de Suicidio,Mujer,26,6 Secundaria completa,0,0,0,0,0,0,0,0,Ninguna

# Data Wrangling

### Identify missing data

In [5]:
missing_data = df.isnull()
missing_data.head(5)

,ano_notificacion,codigo_localidadresidencia,localidad_residencia,nombre_upz,Curso de vida,clasificaciondelaconducta,sexo,edad,niveleducativo,enfermedades_dolorosas,maltrato_sexual,muerte_familiar,conflicto_pareja,problemas_economicos,esc_educ,problemas_juridicos,problemas_laborales,suicidio_amigo,poblacion_diferencial
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [6]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

ano_notificacion
ano_notificacion
False    212495
Name: count, dtype: int64

codigo_localidadresidencia
codigo_localidadresidencia
False    212495
Name: count, dtype: int64

localidad_residencia
localidad_residencia
False    212495
Name: count, dtype: int64

nombre_upz
nombre_upz
False    212495
Name: count, dtype: int64

Curso de vida
Curso de vida
False    212495
Name: count, dtype: int64

clasificaciondelaconducta
clasificaciondelaconducta
False    212495
Name: count, dtype: int64

sexo
sexo
False    212495
Name: count, dtype: int64

edad
edad
False    212495
Name: count, dtype: int64

niveleducativo
niveleducativo
False    212495
Name: count, dtype: int64

enfermedades_dolorosas
enfermedades_dolorosas
False    212495
Name: count, dtype: int64

maltrato_sexual
maltrato_sexual
False    212495
Name: count, dtype: int64

muerte_familiar
muerte_familiar
False    212495
Name: count, dtype: int64

conflicto_pareja
conflicto_pareja
False    212495
Name: count, dtype: int64

problemas_economicos
problemas_economicos
False    212495
Name: count, dtype: int64

esc_educ
esc_educ
False    212495
Name: count, dtype: int64

problemas_juridicos
problemas_juridicos
False    212495
Name: count, dtype: int64

problemas_laborales
problemas_laborales
False    212495
Name: count, dtype: int64

suicidio_amigo
suicidio_amigo
False    212495
Name: count, dtype: int64

poblacion_diferencial
poblacion_diferencial
False    192402
True      20093
Name: count, dtype: int64

As we can see, the only column with null values is <b>poblacion_diferencial</b> with aproximately 20093 missing values.

### Getting unique values from poblacion_diferencial column

In [7]:
value_counts = df['poblacion_diferencial'].value_counts()
value_counts

poblacion_diferencial
Ninguna                                94139
Otra                                   77435
Consumidor habitual de SPA              8019
PoblaciÃ³n LGBTIQ+                      6612
Madre Cabeza de Hogar                   2564
Trabajador Informal                     1086
En ProtecciÃ³n                          1044
Servidor pÃºblico                        692
Otro tipo de vÃ­ctima del conflicto      644
Menor Abandonado                         167
Name: count, dtype: int64

I replace the null values by frequency (<b>Ninguna</b> value)

In [8]:
df["poblacion_diferencial"].replace(np.nan, "Ninguna", inplace=True)

C:\Users\Dilan\AppData\Local\Temp\ipykernel_15264\4224689922.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["poblacion_diferencial"].replace(np.nan, "Ninguna", inplace=True)

In [9]:
df.head()

,ano_notificacion,codigo_localidadresidencia,localidad_residencia,nombre_upz,Curso de vida,clasificaciondelaconducta,sexo,edad,niveleducativo,enfermedades_dolorosas,maltrato_sexual,muerte_familiar,conflicto_pareja,problemas_economicos,esc_educ,problemas_juridicos,problemas_laborales,suicidio_amigo,poblacion_diferencial
0,2016,3,Santa Fe,LAS CRUCES,12 â€“ 17 Adolescencia,IdeaciÃ³n suicida,Mujer,14,5. Secundaria incompleta,0,0,0,0,0,0,0,0,0,Otra
1,2012,8,Kennedy,UPZ Sin asignar,12 â€“ 17 Adolescencia,IdeaciÃ³n suicida,Hombre,13,5. Secundaria incompleta,0,0,0,0,0,0,0,0,0,Otra
2,2012,19,Ciudad BolÃ­var,UPZ Sin asignar,12 â€“ 17 Adolescencia,Intento de Suicidio,Mujer,13,5. Secundaria incompleta,0,0,0,0,0,0,0,0,0,Otra
3,2012,10,EngativÃ¡,UPZ Sin asignar,18 â€“ 28 Juventud,Intento de Suicidio,Mujer,26,8. TÃ©cnico post-secundaria completa,0,0,0,0,0,0,0,0,0,Ninguna
4,2012,10,EngativÃ¡,UPZ Sin asignar,18 â€“ 28 Juventud,Intento de Suicidio,Mujer,26,6. Secundaria completa,0,0,0,0,0,0,0,0,0,Ninguna

### Replacing special Characteres in the categorical variables

#### Categorical Values

In [10]:
#Replacing special characters in localidad_residencia
df['localidad_residencia'] = df['localidad_residencia'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)
#Replacing special characters in nombre_upz
df['nombre_upz'] = df['nombre_upz'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)
#Replacing special characters in Curso de vida
df['Curso de vida'] = df['Curso de vida'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)
#Replacing special characters in clasificaciondelaconducta
df['clasificaciondelaconducta'] = df['clasificaciondelaconducta'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)
#Replacing special characters in sexo
df['sexo'] = df['sexo'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)
#Replacing special characters in niveleducativo
df['niveleducativo'] = df['niveleducativo'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)
#Replacing special characters in poblacion_diferencial
df['poblacion_diferencial'] = df['poblacion_diferencial'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)

In [11]:
categorical_variables = [ 
                      "localidad_residencia",
                      "nombre_upz",
                      "Curso de vida",
                      "clasificaciondelaconducta",
                      "sexo",
                      "niveleducativo",
                      "poblacion_diferencial"]

for column in categorical_variables:
    print("\nConteo de valores únicos para la variable:", column)
    print(df[column].value_counts())

Conteo de valores únicos para la variable: localidad_residencia
localidad_residencia
Kennedy               28115
Suba                  25869
Bosa                  23501
Ciudad Bolvar         21686
Engativ               19300
Usme                  13587
San Cristbal          11694
Rafael Uribe Uribe    11412
Fontibn               10855
Usaqun                10583
Puente Aranda          6950
Tunjuelito             6327
Teusaquillo            4585
Barrios Unidos         3978
Santa Fe               3812
Chapinero              3579
Los Mrtires            2929
Antonio Nario          2555
La Candelaria           828
Sumapaz                 238
Sin dato                112
Name: count, dtype: int64

Conteo de valores únicos para la variable: nombre_upz
nombre_upz
UPZ Sin asignar         10034
BOSA CENTRAL             8054
BOSA OCCIDENTAL          6819
EL RINCON                6729
TIBABUYES                5882
                        ...
PARQUE SALITRE             40
AEROPUERTO EL DORADO       30
EL MOCHUELO                25
GUAYMARAL                   5
LA ACADEMIA                 3
Name: count, Length: 113, dtype: int64

Conteo de valores únicos para la variable: Curso de vida
Curso de vida
12  17 Adolescencia      70970
18  28 Juventud          66723
29  59 Adultez           52115
6  11 Infancia           16060
60 Vejez                  6276
0  5 Primera Infancia      351
Name: count, dtype: int64

Conteo de valores únicos para la variable: clasificaciondelaconducta
clasificaciondelaconducta
Ideacin suicida        150761
Intento de Suicidio     61734
Name: count, dtype: int64

Conteo de valores únicos para la variable: sexo
sexo
Mujer     139241
Hombre     73254
Name: count, dtype: int64

Conteo de valores únicos para la variable: niveleducativo
niveleducativo
5 Secundaria incompleta               77159
6 Secundaria completa                 41928
9 Universidad incompleta              18727
3 Primaria incompleta                 16628
8 Tcnico postsecundaria completa      13397
10 Universidad completa               12610
99 Sin dato                           11798
4 Primaria completa                    9217
7 Tcnico postsecundaria incompleta     4287
12 Postgrado completo                  2261
1 No fue a la escuela                  1121
7 Tcnico pos secundaria incompleto      931
8 Tcnico pos secundaria completo        870
11 Postgrado incompleto                 715
2 Preescolar                            668
11 Posgrado incompleto                  105
12 Posgrado completo                     73
Name: count, dtype: int64

Conteo de valores únicos para la variable: poblacion_diferencial
poblacion_diferencial
Ninguna                              114232
Otra                                  77435
Consumidor habitual de SPA             8019
Poblacin LGBTIQ                        6612
Madre Cabeza de Hogar                  2564
Trabajador Informal                    1086
En Proteccin                           1044
Servidor pblico                         692
Otro tipo de vctima del conflicto       644
Menor Abandonado                        167
Name: count, dtype: int64

### Correct Data Format

In [15]:
df.dtypes

ano_notificacion               int64
codigo_localidadresidencia    object
localidad_residencia          object
nombre_upz                    object
Curso de vida                 object
clasificaciondelaconducta     object
sexo                          object
edad                           int64
niveleducativo                object
enfermedades_dolorosas         int64
maltrato_sexual                int64
muerte_familiar                int64
conflicto_pareja               int64
problemas_economicos           int64
problemas_juridicos            int64
problemas_laborales            int64
suicidio_amigo                 int64
poblacion_diferencial         object
dtype: object

In [16]:
# Convert integer columns to boolean
df['enfermedades_dolorosas'] = df['enfermedades_dolorosas'].astype(bool)
df['maltrato_sexual'] = df['maltrato_sexual'].astype(bool)
df['muerte_familiar'] = df['muerte_familiar'].astype(bool)
df['conflicto_pareja'] = df['conflicto_pareja'].astype(bool)
df['problemas_economicos'] = df['problemas_economicos'].astype(bool)
df['problemas_juridicos'] = df['problemas_juridicos'].astype(bool)
df['problemas_laborales'] = df['problemas_laborales'].astype(bool)
df['suicidio_amigo'] = df['suicidio_amigo'].astype(bool)

In [17]:
df.dtypes

ano_notificacion               int64
codigo_localidadresidencia    object
localidad_residencia          object
nombre_upz                    object
Curso de vida                 object
clasificaciondelaconducta     object
sexo                          object
edad                           int64
niveleducativo                object
enfermedades_dolorosas          bool
maltrato_sexual                 bool
muerte_familiar                 bool
conflicto_pareja                bool
problemas_economicos            bool
problemas_juridicos             bool
problemas_laborales             bool
suicidio_amigo                  bool
poblacion_diferencial         object
dtype: object

In [18]:
df.head()

,ano_notificacion,codigo_localidadresidencia,localidad_residencia,nombre_upz,Curso de vida,clasificaciondelaconducta,sexo,edad,niveleducativo,enfermedades_dolorosas,maltrato_sexual,muerte_familiar,conflicto_pareja,problemas_economicos,problemas_juridicos,problemas_laborales,suicidio_amigo,poblacion_diferencial
0,2016,3,Santa Fe,LAS CRUCES,12 17 Adolescencia,Ideacin suicida,Mujer,14,5 Secundaria incompleta,False,False,False,False,False,False,False,False,Otra
1,2012,8,Kennedy,UPZ Sin asignar,12 17 Adolescencia,Ideacin suicida,Hombre,13,5 Secundaria incompleta,False,False,False,False,False,False,False,False,Otra
2,2012,19,Ciudad Bolvar,UPZ Sin asignar,12 17 Adolescencia,Intento de Suicidio,Mujer,13,5 Secundaria incompleta,False,False,False,False,False,False,False,False,Otra
3,2012,10,Engativ,UPZ Sin asignar,18 28 Juventud,Intento de Suicidio,Mujer,26,8 Tcnico postsecundaria completa,False,False,False,False,False,False,False,False,Ninguna
4,2012,10,Engativ,UPZ Sin asignar,18 28 Juventud,Intento de Suicidio,Mujer,26,6 Secundaria completa,False,False,False,False,False,False,False,False,Ninguna